<?xml version="1.0"?>
<launch>
  <arg name="topic" default="link" /> 
  
    <param  name="robot_description" textfile="$(find fourbythree_description)/urdf/prototype3_par_calib_$(arg topic).urdf" />
<!--     <param  name="robot_description" textfile="$(find fourbythree_description)/urdf/prototype3.urdf" /> -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
      <param name="use_gui" value="true"/>
    </node>
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
 
 	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find fourbythree_description)/rviz/calibration.rviz"/>
</launch>
