<launch>
  
  <arg name="fake"      default="true" />
  <arg name="limited"   default="true"/>
  <arg name="debug"     default="false" />
  
  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find ur10_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>
  <param name="/move_group/fake_controller_flag" type="boolean" value="$(arg fake)" />

  <!-- Given the published joint states, publish tf for the robot links -->
  <node if="$(arg fake)" name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
    
  <!-- Remap follow_joint_trajectory -->
  <remap unless="$(arg fake)" from="/follow_joint_trajectory" to="/arm_controller/follow_joint_trajectory"/>
  
  <!-- Launch moveit -->
  <include file="$(find ur10_moveit)/launch/move_group.launch">
    <arg name="limited" default="$(arg limited)"/>
    <arg name="debug" default="$(arg debug)" />
  </include>
  

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find ur10_moveit)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  
  
  
  
</launch>
